PORT=3001
CMS_PORT=3001
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your-email@gmail.com
SMTP_PASS=your-app-password
VITE_API_URL=http://localhost:3001

# EmailJS Configuration
VITE_EMAILJS_SERVICE_ID=service_lkf5dxl
VITE_EMAILJS_TEMPLATE_ID=template_lzkji7e
VITE_EMAILJS_PUBLIC_KEY=5PltdqLpn66Qkm-1X
